<a href="https://colab.research.google.com/github/jyotsna-chary/test1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [18]:
df=pd.read_excel("/content/Even (1).xlsx")

In [19]:
df['Job_Role'].value_counts()

Job_Role
Developer         21
Engineer          19
Manager           17
Data Scientist    17
Analyst           16
Name: count, dtype: int64

In [11]:
df.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool

In [22]:
negative_sal= df[df['Salary_per_Month'] < 0]